global
    log /dev/log    local0
    log /dev/log    local1 notice

defaults
    log    global
    mode    http
    option    httplog
    option    dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  10m

frontend http_frontend
    bind *:80
    default_backend df_backend
{% for srv in services %}
    acl {{srv.nombre}}_acl hdr_beg(host) -i {{srv.url}}
    acl {{srv.nombre}}_path_acl path_beg {{srv.path}}
{% endfor %}

{% for srv in services|sort(attribute='path', reverse=True) %}
    use_backend {{srv.nombre}}_backend if {{srv.nombre}}_acl {{srv.nombre}}_path_acl
{% endfor %}


backend df_backend
    server s1 127.0.0.1:9000

{% for srv in services %}
backend {{srv.nombre}}_backend
    balance roundrobin
{% for server in srv.servidores %}
    server {{srv.servidores[server].nombre}} {{srv.servidores[server].server}} check
{% endfor %}
{% endfor %}

listen stats
    bind *:1936
    mode http
    stats enable
    stats refresh 5s
    #stats scope http
    #stats scope www
    #stats scope static
    #stats scope static_httpclose
    stats realm Estadisticas
    stats uri /
    #stats auth haproxy:YOURPASSWORDHERE
