global
    log /dev/log    local0
    log /dev/log    local1 notice

defaults
    log    global
    mode    http
    option    httplog
    option    dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http_frontend
    bind *:80
    default_backend df_backend
{% for srv in services %}
    acl {{services[srv].nombre}}_acl hdr_beg(host) -i {{services[srv].url}}
    acl {{services[srv].nombre}}_path__acl path_beg {{services[srv].path}}

    use_backend {{services[srv].nombre}}_backend if {{services[srv].nombre}}_acl and {{services[srv].nombre}}_path__acl
{% endfor %}

backend df_backend
    server s1 127.0.0.1:9000

{% for srv in services %}
backend {{services[srv].nombre}}_backend
    balance roundrobin
{% for server in services[srv].servidores %}
    server {{services[srv].servidores[server].nombre}} {{services[srv].servidores[server].server}} check
{% endfor %}
{% endfor %}

listen stats
    bind *:1936
    mode http
    stats enable
    stats refresh 5s
    #stats scope http
    #stats scope www
    #stats scope static
    #stats scope static_httpclose
    stats realm Estadisticas
    stats uri /
    #stats auth haproxy:YOURPASSWORDHERE
